@import "../root.css";

.title-label {
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 20;
}

/* Manipulating Buttons */
.add-new-category-button {
    -fx-background-color: -fx-colorTwo;
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 16;
    -fx-text-fill: -fx-colorSeven;
}

.edit-category-button {
    -fx-background-color: -fx-colorThree;
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 16;
    -fx-text-fill: -fx-colorTwo;
}

.select-all-button {
    -fx-background-color: -fx-colorSeven;
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 16;
    -fx-text-fill: -fx-colorTwo;
}

/*Categories Table View */

.table-view {
    -fx-base: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15pt;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view.column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 15;
    -fx-font-family: "Titillium Web SemiBold";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:focused {
    -fx-border-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}