@import "root.css";

@font-face {
    font-family:'Titillium Web Light';
    src: url('font/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family:'Titillium Web Bold';
    src: url('font/TitilliumWeb-Bold.ttf');
}
@font-face {
    src: url('font/LemonMilk.otf');
    font-family: 'Lemon/Milk';
}
/*root style buttons*/
.button{
    -fx-background-color:-fx-colorThree;
    -fx-font-family: 'Titillium Web Regular';
    -fx-text-fill:-fx-colorTwo ;
    -fx-font-size: 18;
}

.button:hover {
    -fx-background-color: -fx-colorTwo;
    -fx-text-fill:-fx-colorThree ;
}
.button:disabled {
    -fx-background-color: -fx-colorOne;
    -fx-opacity: 1;
}
/*disable icon style*/
.button:disabled {
    -fx-background-color: #1c252c;
}





/*Filter product Drawer*/


/* Confirmation dialog buttons*/
.button-confirmation{
    -fx-border-color: -fx-colorThree;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-color:-fx-colorThree;
    -fx-font-family: 'Titillium Web Regular';
    -fx-text-fill:-fx-colorTwo ;
    -fx-font-size: 18;
}
.button-confirmation:hover {
    -fx-border-color: -fx-colorTwo;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-color:-fx-colorTwo;
    -fx-font-family: 'Titillium Web Regular';
    -fx-text-fill:-fx-colorThree ;
    -fx-font-size: 18;
}
.button-dismiss{
    -fx-border-color: -fx-colorThree;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-font-family: 'Titillium Web Regular';
    -fx-text-fill:-fx-colorTwo ;
    -fx-font-size: 18;
}
.button-dismiss:hover {
    -fx-border-color: -fx-colorTwo;
    -fx-border-width: 2px;
    -fx-background-color: -fx-colorTwo;
    -fx-border-radius: 5;
    -fx-font-family: 'Titillium Web Regular';
    -fx-text-fill:-fx-colorThree ;
    -fx-font-size: 18;
}
/* Discount dialog buttons */
.toggle-button{
    -fx-background-color: -fx-colorThree;
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: -fx-colorThree;
}
.toggle-button .text {
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 15;
    -fx-fill: -fx-colorTwo;
}
.toggle-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: -fx-colorTwo;
    -fx-border-width: 2px;
    -fx-border-color: -fx-colorTwo;
}
.toggle-button:selected .text {
    -fx-font-family: 'Titillium Web Bold';
    -fx-font-size: 16;
    -fx-fill: -fx-colorThree;
}


