@import "root.css";

@font-face {
    font-family:'Titillium Web Light';
    src: url('font/TitilliumWeb-Regular.ttf');
}
@font-face {
    src: url('font/LemonMilk.otf');
    font-family: 'Lemon/Milk';
}

.button{
    -fx-background-color:#1c252c;
}

.button:hover {
    -fx-background-color: -fx-hoverColor;
}
.button:disabled {
    -fx-background-color: -fx-disableColor;
    -fx-opacity: 1;
}
/*disable icon style*/
.button:disabled {
    -fx-background-color: #1c252c;
}
.button-reset {
    -fx-background-color:-fx-resetColor ;
}
.button-validate {
    -fx-background-color:-fx-validateColor ;
    -fx-font-family: 'Lemon/Milk';
    -fx-font-size: 18;
}
.button-validate:hover {
    -fx-font-family: 'Lemon/Milk';
    -fx-font-size: 18;
    -fx-text-fill: -fx-validateColor;
}
.button-enterOrScan {
    -fx-background-color:-fx-enterOrScan;
    -fx-font-family: 'Titillium Web Regular';
    -fx-font-size: 18;
}
.button-enterOrScan:hover {
    -fx-text-transform: uppercase;
    -fx-font-family: 'Titillium Web Regular';
    -fx-font-size: 18;
    -fx-text-fill: -fx-validateColor;
}


