@import "root.css";

.button .ikonli-font-icon {
    -fx-icon-color:-fx-iconActiveColor !important;
}

.button:hover .ikonli-font-icon {
    -fx-icon-color:-fx-iconHoverColor !important;
}
.button:disabled .ikonli-font-icon {
    -fx-icon-color:-fx-iconDisableColor !important;
}

/* custom buttons styles */
/*validate button */
.button-validate .ikonli-font-icon {
    -fx-icon-color: -fx-iconValidateColor !important;
}
.button-validate:hover .ikonli-font-icon {
    -fx-icon-color:-fx-iconHoverColor;
}
/* reset button */
.button-reset .ikonli-font-icon {
    -fx-icon-color:-fx-iconResetColor !important;
}
.button-reset:hover .ikonli-font-icon {
    -fx-icon-color:-fx-iconResetHoverColor !important;
}

/*cart items*/
.button-add-cart .ikonli-font-icon{
    -fx-background-radius: 50;
    -fx-icon-color:-fx-iconActiveColor !important;
}
.button-remove-cart .ikonli-font-icon{
    -fx-icon-color: -fx-iconResetHoverColor !important;
}
.button-remove-cart:hover .ikonli-font-icon{
    -fx-icon-color: -fx-iconResetHoverColor !important;
}