@import "root.css";
/*loading fonts*/
@font-face {
    src: url('font/LemonMilklight.otf');
    font-family: 'Lemon/Milk light';
}
@font-face {
    src: url('font/TitilliumWeb-Regular.ttf');
    font-family:'Titillium Web Regular';
}
/*tools view */
.ticket {
    -fx-font-family: "Titillium Web Regular";
    -fx-font-size: 20;
}